.content-wrapper , body {
    background-image: url("/assets/images/lol2.png") !important;
}

.login-box , .login-card-body , #nel{
    padding: 10px;
    border-radius: 50px;
    background-color: #ffffff75 !important;
    /* background-image: inherit; */
}

.social-auth-links
{
    opacity: .75;
}
/* #nel {
    background-color: rgba(255,255,255,12) !important;
} */